*.mp4 filter=lfs diff=lfs merge=lfs -text
.mov filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Если filter=lfs diff=lfs merge=lfs -text
у filter=lfs diff=lfs merge=lfs -text
вас filter=lfs diff=lfs merge=lfs -text
есть filter=lfs diff=lfs merge=lfs -text
файлы filter=lfs diff=lfs merge=lfs -text
static/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
static/music/*.mp4 filter=lfs diff=lfs merge=lfs -text
